<div class="project-load show">
<a class="close-content" href="http://mydinhpearl.com.vn/gioi-thieu/chu-dau-tu.html" data-title="MY DINH PEARL" data-description="MY DINH PEARL" data-keyword="MY DINH PEARL" data-name="2">Close</a>
<div class="pic-project">
<div class="slider-project slide-slidebox" style="display: inline-block;">
<div class="slide-wrapper-outer"><div class="slide-wrapper" style="width: 14208px; left: 0px; display: block;"><div class="slide-item" style="width: 888px;"><div class="pic-box">
<img src="http://mydinhpearl.com.vn/pictures/catalog/about/p1_l.jpg" alt="Saigon Pearl" class="zoom-pic">
</div></div><div class="slide-item" style="width: 888px;"><div class="pic-box">
<img src="http://mydinhpearl.com.vn/pictures/catalog/about/p1_1_l.jpg" alt="Saigon Pearl" class="zoom-pic">
</div></div><div class="slide-item" style="width: 888px;"><div class="pic-box">
<img src="http://mydinhpearl.com.vn/pictures/catalog/about/p1_2_l.jpg" alt="Saigon Pearl" class="zoom-pic">
</div></div><div class="slide-item" style="width: 888px;"><div class="pic-box">
<img src="http://mydinhpearl.com.vn/pictures/catalog/video/saigonpearl/58241415456952d935d0b.jpg" alt="Saigon Pearl" class="zoom-pic">
</div></div><div class="slide-item" style="width: 888px;"><div class="pic-box">
<img src="http://mydinhpearl.com.vn/pictures/catalog/video/saigonpearl/798461417761791.jpg" alt="Saigon Pearl" class="zoom-pic">
</div></div><div class="slide-item" style="width: 888px;"><div class="pic-box">
<img src="http://mydinhpearl.com.vn/pictures/catalog/video/saigonpearl/8746819317f7d7c91f20b.jpg" alt="Saigon Pearl" class="zoom-pic">
</div></div><div class="slide-item" style="width: 888px;"><div class="pic-box">
<img src="http://mydinhpearl.com.vn/pictures/catalog/video/saigonpearl/88797576621218a116d5b.jpg" alt="Saigon Pearl" class="zoom-pic">
</div></div><div class="slide-item" style="width: 888px;"><div class="pic-box">
<img src="http://mydinhpearl.com.vn/pictures/catalog/video/saigonpearl/8948595721287527511cb.jpg" alt="Saigon Pearl" class="zoom-pic">
</div></div></div></div>







<div class="slide-controls clickable"><div class="slide-pagination"><div class="slide-page active"><span class=""></span></div><div class="slide-page"><span class=""></span></div><div class="slide-page"><span class=""></span></div><div class="slide-page"><span class=""></span></div><div class="slide-page"><span class=""></span></div><div class="slide-page"><span class=""></span></div><div class="slide-page"><span class=""></span></div><div class="slide-page"><span class=""></span></div></div></div></div>
</div>
<div class="project-contact">
<h3>Saigon Pearl</h3>
<div class="scroll-pro" tabindex="1" style="height: 94px; overflow: hidden; outline: none;">
<ul>
<li class="address">92 Nguyễn Hữu Cảnh, Quận Bình Thạnh, Tp.HCM</li><li class="call">08 3 821 9999 / 35149585</li><li class="fax">08 3 518 0916</li><li class="email"><a href="mailto:sales_dept@saigonpearl.com.vn">sales_dept@saigonpearl.com.vn</a></li><li class="web"><a href="http://www.saigonpearl.com.vn">www.saigonpearl.com.vn</a></li></ul>
<p><br></p></div>
</div>
<div id="ascrail2001" class="nicescroll-rails" style="width: 8px; z-index: 40; cursor: default; position: absolute; top: 307px; left: 1296.16px; height: 94px; display: block; opacity: 0.8; background: rgba(0, 0, 0, 0.0980392);"><div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 8px; height: 60px; border: 0px solid rgba(0, 0, 0, 0); border-radius: 5px; background-color: rgb(217, 199, 168); background-clip: padding-box;"></div></div></div>