@media screen and (max-width:1024px){
	body {
		width: 100%;
	}

}
@media screen and (max-width:768px){
	body {
		width: 100%;
	}
	
}
@media screen and (max-width:480px){
	body {
		width: 100%;
	}
	
}