body {
	background: #fff;
	min-height: 100%;
	height: auto;
	color: #0572ba;
}
a {
	color: #0572ba;
}
a:focus,
a:hover {
	text-decoration: underline;
}
#login {
	padding: 0;
}
.login h1{
}
.login h2 {
	padding: 12px;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	color: #fff;
}
.login form {
	margin-top: 0;
	
	border: #0572ba 1px solid;
}
.login label {
	color: #0572ba;
}
.login #login_error,
.login .message {
	border: #0572ba 1px solid;
	margin: 2px 0;
	
}
.login form .input,
.login form input[type="checkbox"],
.login input[type="text"] {
	color: #0572ba;
}
.login #backtoblog,
.login #nav {
	padding: 0;
	text-align: left;
	
}
.login #backtoblog a,
.login #nav a {
	color: #0572ba;
	font-weight: bold;
}
.login .button-primary {
	background-color: #0572ba;
	border-color: #0572ba;
}
.login .button-primary:focus,
.login .button-primary:hover {
	background-color: #0572ba;
	border-color: #0572ba;
}
.login form .input:focus, .login input[type="text"]:focus {
	border-color: #0572ba;
}
#login_error{
	background: #eff0f1 !important;
	color: red;
	border:1px solid #eff0f1;
}
#login_error a{

}